<div class="widget">
    <h3 class="widget-title"> {{ T "widget_tags" }}</h3>
    <div class="widget-body">
        <ul class="tag-list">
            {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <li class="tag-list-item"><a href="{{ .Permalink }}" class="tag-list-link">{{ $name }}</a><span
                    class="tag-list-count">{{ $taxonomy.Count}}</span></li>
            {{ end }}
            {{- end }}
        </ul>
        <center>
            <!-- 博客首页 -->
            <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script><ins class="adsbygoogle" style="display:block"
                data-ad-client="ca-pub-5883329460904326" data-ad-slot="6443208942" data-ad-format="auto"
                data-full-width-responsive="true"></ins></center>
    </div>
</div>
