<section id="header" class="site header">
    <div class="header wrap"><span class="header left-side"><a class="site home" href="{{- `/` | relLangURL -}}">
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}}
                <span class="site name">{{- site.Title | safeHTML -}}</span></a></span>
        <span class="header right-side">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span></div>
       
    <!-- 头部广告定制 -->
    <div align="center">
        <a href="https://www.6le.cc/page.aspx?c=referral&u=9044" target="_blank"><img src="https://img.dtz9.net/imgs/2020/02/800c24daafa17fa2.png" /></a>
    </div>
    {{- with site.Params.slogan -}}
    <div class="site slogan"><span class="title">{{- . | safeHTML -}}</span></div>
    {{- end -}}
</section>