<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; 2019 - {{ now.Format "2006" }} {{  .Site.Params.copyright | default .Site.Title  }} | 
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>&nbsp;<span class="footer__copyright-credits"> | 欢迎使用免费的&nbsp;<a target="_blank" href="https://ditou.org/t/blog">博客托管</a>&nbsp;和&nbsp;<a target="_blank" href="https://img.1078503.org/">图床</a>&nbsp;服务·&nbsp;<a target="_blank" href="https://dtz9.org">网址导航</a></span>
			<script type="text/javascript" src="https://js.users.51.la/19958321.js"></script>
		</div>
	</div>
</footer>
