<div class="article-inner">
    <a href="https://dtz9.com/d/19" target="_blank">
        <img border="0" src="/banner.png" />
    </a>
</div>
<div align="center">
    <font style="color: red;font-family: sans-serif;font-size: 12px;" align="center">点击评论框“加入讨论”会显示名字邮箱网址选项，不一定需要登陆哦🙂
    </font>
</div>
<div style="background-color: #f9f9f9;">
    <center>
        <div id="comment" style="width: 90%;">
            <script>
                var disq = new iDisqus('comment', {
                    forum: '1078503',
                    api: 'https://api.ditou.org/disqus/api/',
                    site: 'https://ditou.org',
                    mode: 2,
                    timeout: 3000,
                    init: true
                });
            </script>
        </div>
    </center>
</div>