<div align="center">
	<a href="https://www.6le.cc/page.aspx?c=referral&u=9044" target="_blank"><img src="https://img.dtz9.net/imgs/2020/02/4cc3eeece0ec3a46.png" /></a>
</div><br>
<div class="widget-search widget">
	<form class="widget-search__form" role="search" method="get" action="https://google.com/search">
		<label>
			<input class="widget-search__field" type="search" placeholder="{{ T "search_placeholder" }}" value="" name="q" aria-label="{{ T "search_placeholder" }}">
		</label>
		<input class="widget-search__submit" type="submit" value="Search">
		<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
	</form>
</div>