<div align="center">
    <!-- 评论上方 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5883329460904326" data-ad-slot="6466278453"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<br>
<div align="center">
    <font color="red">点击评论框“加入讨论”会显示名字邮箱网址选项，不一定需要登陆哦🙂</font>
</div>
<div style="background-color: #f5f5f5;">
    <center>
        <div id="comment" style="width: 90%;">
            <script>
                var disq = new iDisqus('comment', {
                    forum: '1078503',
                    api: 'https://api.ditou.org/disqus/api/',
                    site: 'https://ditou.org',
                    mode: 2,
                    init: true
                });
            </script>
        </div>
    </center>
</div>